<!-- Subhead
================================================== -->
<header class="jumbotron subhead">
  <div class="container">
    <h1>{{_i}}Whats new in Globo Bootstrap?{{/i}}</h1>
    <p class="lead">{{_i}}Check what is new in the Bootstrap.{{/i}}
  </div>
</header>

  <div class="container">
    <section id="overview">
      <ul>
        <li>{{_i}}A new css component called <a href="./components.html#thumbnails">Inner Border</a> in <a href="./components.html">Components</a>{{/i}}</li>
        <li>{{_i}}A new Javascript Plugin called <a href="./javascript.html#balloon">Balloon</a> in <a href="./javascript.html">JavaScript section</a>{{/i}}</li>
      </ul>
  
    </div>{{! /.container }}
  </section>